<nav>
    <div class="site-title">
        <a href="/"><h1><span>MyBlog</span>.uz</h1></a>
        <p>Nabijonov Fazliddin Kamoliddin o`g`li</p>
        
    </div>

    <ul>
        <li class="menu-words"><a href="/">Blogs</a></li>
        <li class="menu-words"><a href="/about">About</a></li>
        <li class="menu-words"><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
