<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
       <h2>About us</h2>
       
        <p class="dark"><span class="span">Lorem ame sed,culpa!</span> Architecto dolores,
             nesciunt iusto magni Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Nihil officiis pariatur et porro voluptatum velit sunt laboriosam, 
              veniam id quas voluptate quaerat voluptatibus blanditiis perspiciatis! Eos
               libero, aliquam rem ex assumenda earum repudiandae cumsequi, nihil unde dolorum
                dolorem eveniet? Cumque cum tempore magnam dignissimos, esse vel repellendus, repudia
             consectetur </p>
             <p class="dark"><span class="span">Lorem ame sed,culpa!</span> Architecto dolores,
                nesciunt iusto magni Lorem ipsum dolor sit amet consectetur adipisicing
                 elit. Nihil officiis pariatur et porro voluptatum velit sunt laboriosam, 
                 veniam id quas voluptate quaerat voluptatibus blanditiis perspiciatis! Eos
                  libero, aliquam rem ex assumenda earum repudiandae cumsequi, nihil unde dolorum
                   dolorem eveniet? Cumque cum tempore magnam dignissimos, esse vel repellendus, repudia
                consectetur </p>
    </div>     
    <%- include('./partials/footer') %> 
</body>
</html>